* {
	margin: 0;
	padding: 0;
	font-family: "Poppins";
}
.container {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,11,1) 35%, rgb(0, 67, 80) 100%);
	margin-top: 20px;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.item {
	padding: 50px;
	margin: 20px;
	background: radial-gradient(#414345);
	border: 5px solid white;
	color: white;
	font-size: 2em;
	text-align: center;
}